* {
	all: unset;
}

/*** Colours ***/

$background: #1A1B26;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$darkerGreen: #4dbaa9;
$lime: #9caa00;
$orange: #d96b0b;
$yorange: #d9900b;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: #e1dae6;

// Rainy palette

$rainyBlack: #09070d;
$rainyGreen: #3fa400;
$rainyTeal: #00a465;
$rainyBlue: #003fa4;
$rainyPurple: #6400a4;
// $rainyRed: #a4003f;
// $rainyRed: #c94671;
$rainyRed: #da4d7b;
$rainyOrange: #a46500;

// Moody palette

$moodyGray: #202023;


.spacer-200px-v {
	
	
	margin-top		:	200px;
	margin-bottom	:	200px;
}

.spacer-150px-v {
	
	
	margin-top		:	150px;
	margin-bottom	:	150px;
}


.spacer-100px-v {
	
	
	margin-top		:	100px;
	margin-bottom	:	100px;
}

.spacer-10px-v {
	
	
	margin-top		:	10px;
	margin-bottom	:	10px;
}

.spacer-15rem-v {
	
	
	margin-top		:	15rem;
	margin-bottom	:	15rem;
}

.spacer-10rem-v {
	
	
	margin-top		:	10rem;
	margin-bottom	:	10rem;
}

.spacer-8rem-v {
	
	
	margin-top		:	8rem;
	margin-bottom	:	8rem;
}

.spacer-7rem-v {
	
	
	margin-top		:	7rem;
	margin-bottom	:	7rem;
}

.spacer-6rem-v {
	
	
	margin-top		:	6rem;
	margin-bottom	:	6rem;
}

.spacer-5rem-v {
	
	
	margin-top		:	5rem;
	margin-bottom	:	5rem;
}

.spacer-4rem-v {
	
	
	margin-top		:	4rem;
	margin-bottom	:	4rem;
}

.spacer-3rem-v {
	
	
	margin-top		:	3rem;
	margin-bottom	:	3rem;
}

.spacer-2rem-v {
	
	
	margin-top		:	2rem;
	margin-bottom	:	2rem;
}

.spacer-1rem-v {
	
	
	margin-top		:	1rem;
	margin-bottom	:	1rem;
}

.logo {
  color: $white;
  font-family: "CozetteHiDpi";
  font-size: 2rem;
  padding: 1rem 0 0 2px;
  margin-right: 2px;
}

.logo:hover {
  color: $rainyRed;
}

// Workspaces

// .workspace-box {
//   background-color: $white;
// }

.workspace-id {
  font-family: "CozetteHiDpi";
  font-size: 2rem;
  margin: 0px 0px 0px 0px;
}


.workspace-entry.occupied {
  color: $white;
}

.workspace-entry.empty {
  color: $white;
}

.workspace-entry.current {
  all: unset;
  color: $rainyRed;
}
.workspace-entry.current.empty {
  color: $rainyRed;
}

// .workspaces-box:hover {
//   border-radius: 16px;
//   background-color: $white;
//   color: $rainyBlack;
// }

.workspace-entry.empty:hover {
  color: $rainyBlack;
}

.workspace-entry.current:hover {
  color: $rainyBlack;
}

.workspace-entry.current.empty:hover {
  color: $rainyBlack;
}

// Slider

scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  min-height: 80px;
  min-width: 10px;
  margin: .3rem 0 .3rem .4rem;
}

.osd scale trough {
  all: unset;
  background-color: $rainyBlack;
  border-radius: 5px;
  min-height: 10px;
  min-width: 80px;
  margin: .3rem 1rem .3rem .4rem;
}

.bar-bottom {
  color: $white;
  font-family: "CozetteHiDpi";
  font-size: 2rem;
  padding-top: 4px;
  padding-left: 2px;
}

.bar-bottom:hover > :first-child {
  color: $rainyRed;
}

.bar-bottom.mem-box {
  margin-bottom: .3rem;
  margin-right: 4px;
}

.bar-bottom.battery-text {
  all: unset;
  font-family: "envypn";
  font-size: 1.4rem;
  color: $green;
  // margin-bottom: .3rem;
  padding-left: 4px;
}

.bar-bottom.battery-label {
  font-family: "CozetteHiDpi";
  font-size: 2rem;
  margin-right: .2rem;
}

// Wifi
.bar-bottom.wifi-icon{
  padding-top: 1.2rem;
  padding-right: .4rem;
}

// Brightness
.bar-bottom.brightness-icon {   // This seems to affect the x pos. of the bribar
  padding-left: 4px;
}

.bar-bottom.brightness-box {
  padding-right: 4px;
}

.bribar trough highlight {
  background-color: $yellow;
  border-radius: 5px;
}

.bribar-h trough highlight {
  background-color: $orange;
  border-radius: 5px;
}

// Volume 
.bar-bottom.volume-box {
  padding-right: 4px;
}
.bar-bottom.volume-icon{
  padding-left: 6px;
}

.volbar trough highlight {
  background-color: $green;
  border-radius: 5px;
}

.volbar-h trough highlight {
  background-color: $rainyTeal;
  border-radius: 5px;
}

// Calendar
.cal-box {
  background-color: $black;
  font-family: Comic Mono;
  font-size: 1em;
  font-weight: bold;

  .cal-inner-box {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

.bar-bottom.time {
  font-family: "Terminus";
  font-size: 1.4rem;
  padding-left: 2px;
}

calendar:selected {
  color: $blue;
}

calendar.header {
color: $blue;
font-weight: bold;
}

calendar.button {
color: $magenta;
}

calendar.highlight {
color: $magenta;
font-weight: bold;
}

calendar:indeterminate {
color: $background;
}

// Powermenu
.powermenu {
  font-family: "CozetteHiDpi";
  font-size: 2rem;
  padding-left: 2px;
  // font-weight: bold;
}

// .powermenu:hover > :first-child {
//   color: $rainyRed;
// }
.button-wmrestart, .button-reboot, .button-lock,
.button-quit, .button-off{
  all: unset;
}

// .button-group {
//   background-color: $background;
// }

.bar-bottom.button-off{
  color: $white;
  padding-bottom: 1rem;
}
.button-wmrestart{
  color: $green;
}
.button-reboot{
  color: $yellow;
}
.button-quit{
  color: $magenta;
}
.button-lock{
  color: $blue;
  border-radius: 0 0 8px 8px;
}

.prompt {
  font-family: "envypn";
  background-color: $moodyGray;
  border-radius: 8px;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: $white;
}

.prompt.text {
  border-style: none;
}

.prompt.btn.confirm {
  border-style: none;
  margin: 2rem 0rem 2rem 2rem;
  border-radius: 16px;
  padding: 1rem 2rem 1rem 2rem;
  background-color: $darkerGreen;
}

.prompt.btn.cancel {
  border-style: none;
  margin: 2rem 2rem 2rem 0rem;
  border-radius: 16px;
  padding: 1rem 2rem 1rem 2rem;
  background-color: $rainyRed;
}

.prompt.btn:hover {
  background-color: $white;
  color: $black;
}

.osd {
  background-color: $white;
  font-family: "CozetteHiDpi";
  font-size: 2rem;
  color: $rainyBlack;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-radius: 4px;
  border-color: $moodyGray;
  // box-shadow: 16px 32px $gray;
}

.osd.volume-icon {
  all: unset;
  margin-left: 1rem;
}

.osd.bri-icon {
  all: unset;
  margin-left: 1rem;
}

.box.dropdown {
  margin: 0 0 0 0;
  background-color: $moodyGray;
  border-style: solid;
  border-width : 2px 2px 2px 2px;
  border-radius: 4px;
  border-color: $white;
}

.label.dropdown {
  margin: 2rem 1rem 2rem 1rem;
  color: $white;
  font-family: "envypn";
  font-size: 1.2rem;
}

.btn.dropdown {
  font-family: "Cozette";
  font-size: 1.2rem;
  margin: 2rem 0rem 2.1rem 1rem;
  border-radius: 2px;
  padding: 0rem .4rem 0 .4rem;
  background-color: $rainyTeal;
}

.btn:hover {
  background-color: $white;
  color: $black;
}

button:hover {      // Doesn't solve batt/brightness/time widget, since they aren't buttons
  color: $rainyRed;
}

/* Show the tooltip text when you mouse over the tooltip container */
tooltip{
  font-family: "envypn";
  background-color: $rainyBlack;
  color: $green;
  padding: 0px 0;
  border-radius: 8px;
}

// .wifi-icon:hover {
//   background-color: $white;
//   color: #000000;
// }


.bar-window {
  //background-color: #121212;
	//background-color: #000000;
	color: #ffffff;
	//padding: 0.8rem;
	//padding: 0.3rem;
  border-color: #ffffff;
	border-radius: 4px;
	//margin-left:	0.5rem;
	//margin-right:	0.5rem;
	//margin-bottom:	0.5rem;
	//margin-top:		0.5rem;
  font-family: "envypn";
	font-size: 1.2rem;
}

